<div class='welcome-card'>
  <h1 class='welcome-title'>Welcome, {{user.name}}!</h1>
  <p class='welcome-subtitle'>Manage your warehouse inventory with ease</p>
</div>
<div class='menu-grid'>
  <a href='/suppliers' class='menu-card'>
    <div class='menu-icon'>
      <i class='fas fa-truck'></i>
    </div>
    <div class='menu-title'>Suppliers</div>
    <div class='menu-desc'>Manage supplier data</div>
  </a>
  <a href='/items' class='menu-card'>
    <div class='menu-icon'>
      <i class='fas fa-boxes'></i>
    </div>
    <div class='menu-title'>Items</div>
    <div class='menu-desc'>Manage items and stock</div>
  </a>
</div>