<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Inventory App</title>
    <script
      src='[https://cdn.tailwindcss.com](https://cdn.tailwindcss.com)'
    ></script>
    <link
      rel='stylesheet'
      href='[https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css](https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css)'
    />
  </head>
  <body class='bg-gray-100 font-sans leading-normal tracking-normal'>
    <nav class='bg-blue-600 p-4 shadow-lg text-white'>
      <div class='container mx-auto flex justify-between items-center'>
        <a href='/' class='font-bold text-xl'><i
            class='fas fa-box-open mr-2'
          ></i>GudangApp</a>
        <div>
          <a href='/suppliers' class='mr-4 hover:text-blue-200'>Suppliers</a>
          <a href='/items' class='mr-4 hover:text-blue-200'>Items</a>
          <a
            href='/users/login'
            class='bg-white text-blue-600 px-3 py-1 rounded hover:bg-gray-200'
          >Login</a>
        </div>
      </div>
    </nav>
    <div class='container mx-auto mt-8 px-4'>
      {{{body}}}
    </div>
  </body>
</html>